@font-face {
    font-family: "shrikhand";
    src: url(../../Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../../Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto-bold";
    src: url(../../Roboto-black.ttf);
}

* {
    font-family: "roboto";
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}