$violet: #9256dc;
$rose: #FF79DA;
$vert: #99E2D0;
$greybg: #F2F2F2;
$btn-color1: linear-gradient(176deg, $rose, $violet);
$btn-color2: linear-gradient(176deg, lighten($rose, 4%), lighten($violet, 4%));

@keyframes anim-menu {
    from {
        transform: translateY(30px);
        opacity: 0;
    };
    to {
        transform: translateY(0px);
        opacity: 1;
    };
}

@mixin overlaytitre {
    background-color: $greybg;
    width: 100%;
    height: 50px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    position: absolute;
    bottom: 0px;
}

@mixin photo-resto {
    height: 350px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

@keyframes icon-move {
    0% {
        transform: scale(0);
        opacity: 0;
    };
    80% {
        transform: scale(1.15);
        opacity: 1;
    };
    100% {
        transform: scale(1);
        opacity: 1;
    };
}

@keyframes icon-delete {
    0% {
        opacity: 1;
    };
    95% {
        opacity: 1;
    };
    100% {
        opacity: 0;
    };
}