header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 0;
    margin: 0;
    position: relative;
    i {
        font-size: 2rem;
        position: absolute;
        left: 30px;
        top: 50px;
    }
    h1 {
        font-weight: bold;
        font-family: "shrikhand";
        font-size: 3rem;
    }
}

.photo {
    height: 350px;
    width: 100%;
    background-color: $vert;
}

.menu {
    background-color: $greybg;
    margin: 0px;
    padding: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    &__titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        h2 {
            font-family: "shrikhand";
        }
    }
    &__part {
        h3 {
            width: 45px;
            border-bottom: solid 3px $vert;
            padding-top: 30px;
        }
        &--card {
            height: 90px;
            width: 100%;
            margin-top: 20px;
            background-color: #FFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            box-shadow: 0px 5px 15px darken($greybg, 10%);
            overflow: hidden;
            &:hover {
                .anim {
                    transform: translateX(0px);
                    i {
                        transform: rotate(360deg);
                    }
                }
            }
            .plat {
                padding: 20px;
                &__titre {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                &__in {
                    font-size: 1.1rem;
                }
            }
            .anim {
                display: flex;
                height: 100%;
                transform: translateX(70px);
                transition: transform 300ms ease-out;
                &__prix {
                    font-size: 1.1rem;
                    font-weight: bold;
                    transform: translateY(35px) translateX(-10px);
                }
                &__check {
                    height: 100%;
                    width: 70px;
                    background-color: $vert;
                    color: #FFF;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                    margin: 0em;
                    i {
                        transform: rotate(0deg);
                        transition: transform 300ms linear;
                    }
                }
            }
        }
    }
    button {
        height: 50px;
        width: 180px;
        border: none;
        border-radius: 100px;
        font-size: 1.1rem;
        color: #FFF;
        background: linear-gradient(176deg, $rose, $violet);
        cursor: pointer;
        box-shadow: 0px 5px 5px 5px darken($greybg, 10%);
        margin: 50px auto 90px auto;
        font-weight: bold;
    }
}

