header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 0;
    margin: 0;
    position: relative;
    i {
        font-size: 2rem;
        position: absolute;
        left: 30px;
        top: 50px;
    }
    h1 {
        font-weight: bold;
        font-family: "shrikhand";
        font-size: 3rem;
    }
}

.photo1 {
    @include photo-resto;
    background-image: url(../../OMF/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    .topoverlay {
        @include overlaytitre
    }
}

.photo2 {
    @include photo-resto;
    background-image: url(../../OMF/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);;
    .topoverlay {
        @include overlaytitre;
    }
}

.photo3 {
    @include photo-resto;
    background-image: url(../../OMF/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    .topoverlay {
        @include overlaytitre
    }
}

.photo4 {
    @include photo-resto;
    background-image: url(../../OMF/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    .topoverlay {
        @include overlaytitre
    }
}

.menu {
    background-color: $greybg;
    margin: 0px;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    &__titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        h2 {
            font-family: "shrikhand";
        }
    }
    &__part {
        @media (min-width: 599px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h3 {
            width: 45px;
            border-bottom: solid 3px $vert;
            padding-top: 30px;
        }
        &--card {
            height: 90px;
            width: 100%;
            margin-top: 20px;
            background-color: #FFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            box-shadow: 0px 5px 15px darken($greybg, 10%);
            overflow: hidden;
            animation: anim-menu 300ms 1000ms both ease-out;
            @media (min-width: 599px) {
                width: 600px;
            }
            &:hover {
                .anim {
                    transform: translateX(0px);
                    i {
                        transform: rotate(360deg);
                    }
                }
            }
            .plat {
                margin-left: 20px;
                &__titre {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__in {
                    font-size: 1.1rem;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .anim {
                display: flex;
                height: 100%;
                transform: translateX(70px);
                transition: transform 300ms ease-out;
                &__prix {
                    height: 100%;
                    background-color: #FFF;
                    font-size: 1.1rem;
                    font-weight: bold;
                    transform: translateY(27px) translateX(-10px);
                }
                &__check {
                    height: 100%;
                    width: 70px;
                    background-color: $vert;
                    color: #FFF;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                    margin: 0em;
                    i {
                        transform: rotate(0deg);
                        transition: transform 300ms linear;
                    }
                }
            }
        }
    }
    button {
        height: 50px;
        width: 180px;
        border: none;
        border-radius: 100px;
        font-size: 1.1rem;
        color: #FFF;
        background: linear-gradient(176deg, $rose, $violet);
        cursor: pointer;
        box-shadow: 0px 5px 5px 5px darken($greybg, 10%);
        margin: 50px auto 90px auto;
        font-weight: bold;
        position: relative;
        &:hover {
            &::after {
                opacity: 1;
                box-shadow: 0px 5px 15px 10px darken($greybg, 10%);
            }
        }
        &::after {
            content: "Commander";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 100px;
            font-size: 1.1rem;
            color: #FFF;
            background: linear-gradient(176deg, $rose, $violet);
            cursor: pointer;
            box-shadow: 0px 5px 5px 5px darken($greybg, 10%);
            font-weight: bold;
            background: $btn-color2;
            opacity: 0;
            transition: all 300ms linear;
        }
    }
}

.plat1 {
    animation-delay: 1000ms;
}
.plat2 {
    animation-delay: 1200ms;
}
.plat3 {
    animation-delay: 1400ms;
}
.plat4 {
    animation-delay: 1600ms;
}
.plat5 {
    animation-delay: 1800ms;
}
.plat6 {
    animation-delay: 2000ms;
}
.plat7 {
    animation-delay: 2200ms;
}
.plat8 {
    animation-delay: 2400ms;
}
.plat9 {
    animation-delay: 2600ms;
}
.plat10 {
    animation-delay: 2800ms;
}