footer {
    background-color: #2B2F33;
    color: #FFF;
    padding: 20px;
    h4 {
        font-family: shrikhand;
        font-weight: bold;
        font-size: 1.8rem;
        margin: 0px;
    }
    p {
        font-size: 1.3rem;
    }
    i {
        margin-right: 10px;
    }
}