footer {
    background-color: #2B2F33;
    color: #FFF;
    padding: 20px;
    h4 {
        font-family: 'Shrikhand', cursive;
        font-weight: bold;
        font-size: 1.8rem;
        margin: 0px;
    }
    p {
        font-size: 1.3rem;
        a {
            color: #FFF;
        }
    }
    i {
        margin-right: 10px;
    }
    @media (min-width: 599px) {
        display: flex;
        justify-content: space-between;
    }
}