header {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-weight: bold;
        font-style: italic;
        font-family: "shrikhand";
        font-size: 4rem;
    }
}